/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* BODY  */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  min-width: 320px;
  display: grid;
  grid-template-rows: auto; }

/* HEADER  */
header {
  grid-row-start: 2;
  padding: 1rem 2vw;
  background-image: url("../images/header-image.jpg");
  background-size: cover;
  margin-bottom: .5rem; }
  header h1 {
    font-size: 1.6rem; }
  header h2 {
    font-size: 1.2rem; }

button.hamburger {
  grid-row-start: 1; }

/*  ----------------------- NAVIGATION --------------------------- */
a.hamburger, a.close {
  display: block;
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
  background-color: #ff8000;
  padding: .4rem 2vw; }

nav {
  grid-row-start: 5;
  height: 100vh;
  background-color: #ede6df; }
  nav ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  nav ul li {
    list-style-type: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  nav ul li a {
    display: block;
    text-align: center;
    font-weight: 700;
    padding: .9rem 0;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none; }
  nav ul li.active a {
    background-color: #ded2c5; }
  nav ul li a:hover {
    background-color: #e6dcd2; }

/* MAIN  */
main {
  grid-row-start: 3; }
  main p {
    padding: .5rem 2vw; }
  main h1 {
    padding: .5rem 2vw;
    font-size: 2rem;
    color: #ff8000; }

/* FOOTER  */
footer {
  grid-row-start: 4;
  background-color: black;
  padding: 1rem 0;
  color: #eee;
  text-align: center; }
  footer a {
    color: #eee; }

@media only screen and (min-width: 35rem) {
  body {
    display: block; }

  a.hamburger, a.close {
    display: none; }

  /*  ----------------------- NAVIGATION --------------------------- */
  nav {
    background-color: #fff;
    height: auto; }
    nav ul {
      margin-left: 2%;
      border: none;
      display: flex; }
    nav ul li {
      border: none; }
    nav ul li a {
      padding: .9rem 1.2rem;
      transition: color .2s linear; }
    nav ul li a:hover {
      background: none;
      color: #ff8000; }
    nav ul li.active a {
      color: white;
      background-color: #ff8000;
      border-radius: 10px; } }
@media only screen and (min-width: 64rem) {
  nav ul {
    justify-content: flex-end; }
  nav ul li {
    flex-basis: auto; }
  nav ul li a {
    font-size: .9rem; } }
